<div
class="w-full
p-6
rounded
bg-gray-200 dark:bg-gray-800
flex flex-col gap-6">
    <p class="text-4xl text-black dark:text-white">
        Misas
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-7 gap-3">
        <div *ngFor="let day of days"
        class="flex flex-col gap-1">
            <p class="text-black dark:text-white
            text-2xl">
                {{namesOfTheDays[day]}}
            </p>

            <p *ngFor="let mass of getMassesOfTheDay(day)"
            class="text-black dark:text-white text-sm">
                {{mass.getUTCHours().toString().padStart(2, '0')}}:{{mass.getMinutes().toString().padStart(2, '0')}} 
            </p>            
        </div>
    </div>

    

    
</div>