<div class="w-full
grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let weekday of massesKeys"
    class="bg-gray-100 dark:bg-gray-800
    hover:bg-gray-200 hover:dark:bg-gray-700
    text-black dark:text-white
    cursor-pointer
    rounded
    p-3
    flex flex-col gap-3">
        <p class="text-xl">{{weekday}}</p>

        <div *ngFor="let mass of masses[weekday]"
        class="flex flex-col gap-3">
            <p class="">{{mass.hour}}</p>
            <p *ngIf="mass.note"
            class="p-2 
            bg-gray-300 dark:bg-gray-600 
            rounded">
                {{mass.note}}
            </p>
        </div>
    </div>

</div>